{% extends 'base/base.html' %} {% block content %}
<div class="row d-flex justify-content-center">
  <div class="col-md-8">
    <form action="{% url 'obstetricia:orden_medica_parto' %}" method="POST" autocomplete="off">
      {% csrf_token %}
      {% if errors %}
        <div class="alert alert-warning" role="alert">
          {% for error in errors %}
            <span>{{ error }}
            <a class="js-paciente" title="Añadir otro paciente_obstetricia" data-url="{% url 'paciente_create' %}"><img src="/static/admin/img/icon-addlink.svg" alt="Añadir"></a></span>
          {% endfor %}
        </div>
      {% endif %}
      {% if success %}
        <div class="alert alert-success" role="alert">
          {% for succes in success %}
            <span>{{ succes }}</span>
          {% endfor %}
        </div>
      {% endif %}
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Orden Medica de parto</h4>
           <div class="dropdown no-arrow">
        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
          <div class="dropdown-header">Clickea</div>
          <a class="dropdown-item" href="{% url 'obstetricia:nuevo_paciente' %}"><i class="far fa-calendar-plus"></i>Nueva Paciente</a>
          <a class="dropdown-item" href="{% url 'obstetricia:examen_fisico' %}"><i class="far fa-calendar-plus"></i>Examen Fisico</a>
          <a class="dropdown-item" href="{% url 'obstetricia:orden_medica_parto' %}"><i class="far fa-calendar-plus"></i>Orden Medica de Parto</a>
          <a class="dropdown-item" href="{% url 'obstetricia:parto_nuevo' %}"><i class="far fa-calendar-plus"></i>Parto</a>
          <a class="dropdown-item" href="{% url 'obstetricia:nota_parto' %}"><i class="far fa-calendar-plus"></i>Nota de Parto</a>

        </div>
      </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="{{ form.name }}">Cédula:</label>
                {{ form.ci_paciente }}
              </div>
              <div class="form-group">
                <label for="{{ form.name }}">3:</label>
                {{ form.orden_tres }}
              </div>
              <div class="form-group">
                <label for="{{ form.name }}">6:</label>
                {{ form.orden_seis }}
              </div>
              <div class="form-group">
                <label for="{{ form.name }}">9:</label>
                {{ form.orden_nueve }}
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="{{ form.name }}">1:</label>
                {{ form.orden_uno }}
              </div>
              <div class="form-group">
                <label for="{{ form.name }}">4:</label>
                {{ form.orden_cuatro }}
              </div>
              <div class="form-group">
                <label for="{{ form.name }}">7:</label>
                {{ form.orden_siete }}
              </div>
              <div class="form-group">
                <label for="{{ form.name }}">10:</label>
                {{ form.orden_diez }}
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="{{ form.name }}">2:</label>
                {{ form.orden_dos }}
              </div>
              <div class="form-group">
                <label for="{{ form.name }}">5:</label>
                {{ form.orden_cinco }}
              </div>
              <div class="form-group">
                <label for="{{ form.name }}">8:</label>
                {{ form.orden_ocho }}
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-success float-right" tabindex="12">Guardar</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
